.profile-container {
  &__content {
    height: 84svh;
    padding: 0 0.5rem 0.5rem 0.5rem;
  }

  &__body {
    display: flex;
    gap: 1rem;
    padding: 1.5rem;
    padding-bottom: 0;
    height: 92%;

    .image-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 15%;
    }

    .patient-details {
      overflow-y: scroll;
      width: 85%;
      padding: 0 1rem;

      &__top {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        row-gap: 1rem;
        grid-template-areas: "left right";
        padding-bottom: 1rem;
      }

      &__left {
        grid-area: left;
        .trigger {
          svg {
            width: 5% !important;
          }
        }
      }
    }
  }

  &__footer {
    height: 8%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;

    .back-btn {
      color: red;
      background-color: white;
      border: 1px solid red;
      width: 6rem;
    }
    .save-btn {
      background: linear-gradient(to right, #2061f5 0%, #13398f 100%);
      width: 6rem;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .profile-container{
    &__content{
      padding: 1rem 0;
      height: 93svh;
    }
    &__body{
      padding: 0.5rem;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}