.input-field {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 50px;

  label {
    width: 100%;
    font-weight: 500;
  }

  input {
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 5px;
    background-color: white;
  }
}

.history-btn {
  width: 100%;
  padding: 10px;
  background-color: #008080;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.history-btn:hover {
  background-color: #005f5f;
}

.info-input {
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 8px;
  background-color: #d5d4df;
}

.medicine-table {
  width: calc(100% - 40px);
  margin: 0 auto;
  border-collapse: collapse;
}

.medicine-table th,
.medicine-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.small-input {
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 8px;
  background-color: #d5d4df;
}

.long-input {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 8px;
  background-color: #d5d4df;
}

.suggestions-input {
  width: 200px;
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 8px;
  background-color: #d5d4df;
}

.table-actions {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.add-btn,
.remove-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: none;
  padding: 10px 40px;
  color: white;
  cursor: pointer;
  background: linear-gradient(90deg, #1f60c0, #0d4493);
}

.signature-text {
  font-size: 1em;
  font-weight: bold;
  color: #333;
  margin-top: 5px;
}

.nested-dosage-table {
  border-collapse: collapse;
}

.nested-dosage-table th,
.nested-dosage-table td {
  border: 1px solid #ccc;
  text-align: center;
  padding: 5px;
}

.nested-dosage-table input {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}
