.appointment-container {
  height: 100svh;

  &__header {
    padding: 0.5rem;
    display: flex;
    border-bottom: 1px solid gray;
    height: 9%;
    img {
      width: 50px;
      height: 50px;
    }

    .title {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: center;
      font-size: 1.5rem;
      gap: 1rem;

      h1 {
        font-weight: 500;
      }
    }
  }

  &__content {
    height: 75%;
    padding: 2rem;

    .trigger {
      svg {
        width: 5% !important;
      }
    }
  }

  &__footer {
    height: 8%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1rem;
    padding: 0 2rem;

    .back-btn {
      color: red;
      border-color: red;
      width: 6rem;
    }
    .save-btn {
      background: linear-gradient(to right, #2061f5 0%, #13398f 100%);
      width: 6rem;
    }
  }

  .helpline {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8%;
    border-top: 1px solid gray;
  }
}
