.appointment-container {
  height: 100%;
  width: 100%;
  &__content {
    .trigger {
      svg {
        width: 5% !important;
      }
    }
  }

  &__body {
    .form-item {
      margin-bottom: 1rem;
    }
  }

  &__footer {
    height: 8%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1rem;

    .back-btn {
      color: red;
      background-color: white;
      border: 1px solid red;
      width: 6rem;
    }
    .save-btn {
      background: linear-gradient(to right, #2061f5 0%, #13398f 100%);
      width: 6rem;
    }
  }
}