.sign-container {
  height: 92svh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "left right";
  overflow: hidden;

  &__left {
    grid-area: left;
    background-image: url(/patient-auth-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__right {
    grid-area: right;
    background-image: url(/gradient-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 4rem;

    &-content {
      display: flex;
      align-items: center;
      flex-direction: column;
      img {
        width: 12rem;
        height: 5rem;
        border-radius: 0.5rem;
        margin-bottom: 2rem;
      }
      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 1rem;
      }
      .sign-in-btn {
        background: linear-gradient(to right, #2061f5 0%, #13398f 100%);
        width: 100%;
      }
    }

    &-header {
      width: 100%;
      h1 {
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 0.5rem;
      }
    }

    &-footer {
      display: flex;
      justify-content: center;
      margin-top: 1rem;

      .createOne {
        text-decoration: underline;
        color: #87acff;
      }
    }
  }
}

.helpline {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid gray;
  font-weight: 600;
  background-color: white;
  color: #8f8f8f;
  height: 8svh;
}

@media only screen and (max-width: 1024px) {
  .sign-container {
    grid-template-columns: 1fr;
    grid-template-areas: "right";
    height: 100svh;

    &__left {
      display: none;
    }

    &__right {
        padding:0 0.5rem;
    }
  }
  .helpline {
    display: none;
  }
}
