.register-container {
  min-height: 100svh;
  padding: 2rem;
  background: linear-gradient(to right, #161c6f 0%, #65045f 100%);
  background-repeat: repeat;
  overflow: hidden;
  display: flex;
  align-items: center;

  &__content {
    background: white;
    border-radius: 1rem;
    height: 100%;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
    width: 100%;
  }

  &__header {
    display: flex;
    border-bottom: 1px solid gray;
    height: 8%;
    align-items: center;
    justify-content: center;
    img {
      width: 100px;
      height: 45px;
    }

    .title {
      display: flex;
      width: 100%;
      justify-content: center;
      font-size: 1.5rem;
      gap: 0.5rem;
      align-items: center;
      height: 45px;

      h1 {
        align-items: baseline;
        display: flex;
        font-weight: 500;
      }
    }
  }

  &__body {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    height: 92%;

    .image-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 15%;

      label {
        background: linear-gradient(to right, #2061f5 0%, #13398f 100%);
        color: white;
        padding: 0.5rem;
        border-radius: 0 0 0.5rem 0.5rem;
        display: flex;
        justify-content: center;
        width: 100%;
        white-space: nowrap;
      }
    }

    .patient-details {
      width: 85%;
      padding: 0 1rem;
      overflow-y: scroll;

      &__top {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        grid-template-areas: "left right";
        height: 100%;
        padding: 0 0 1rem 0
      }

      &__left {
        grid-area: left;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
      }

      &__right {
        grid-area: right;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
      }
    }
  }

  &__footer {
    height: 8%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;

    .cancel-btn {
      color: red;
      background-color: white;
      border: 1px solid red;
      width: 6rem;
    }
    .save-btn {
      background: linear-gradient(to right, #2061f5 0%, #13398f 100%);
      width: 6rem;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .register-container {
    padding: 0;
    &__content {
      min-width: 100svw;
      min-height: 100svh;
      border-radius: 0;
    }
    &__header {
      align-items: center;
      .title {
        font-size: large;
      }
    }
    &__body {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0;
      padding-top: 2rem;
    }
    &__footer{
      padding: 1.5rem 1rem;
    }
  }
  .patient-details {
    min-width: 100%;
    &__top {
      display: flex;
      flex-direction: row;
    }
  }
  .image-container {
    min-width: 30%;
    label {
      font-size: smaller;
    }
  }
}
