.info-input {
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 8px;
  background-color: #d5d4df;
}

.medicine-table {
  width: calc(100% - 40px);
  margin: 0 auto;
  border-collapse: collapse;
}

.medicine-table th,
.medicine-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.nested-dosage-table {
  border-collapse: collapse;
}

.nested-dosage-table th,
.nested-dosage-table td {
  border: 1px solid #ccc;
  text-align: center;
  padding: 5px;
}

.nested-dosage-table input {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}